// Colors
$sea-green:				#1abc9c !default;
$green:					#2ecc71 !default;
$blue:					#3498db !default;
$purple:				#9b59b6 !default;
$navy:					#34495e !default;
$yellow:				#f1c40f !default;
$orange:				#e67e22 !default;
$red:					#e74c3c !default;
$gray:					#95a5a6 !default;
$blank:					#ecf0f1 !default;
$white:					#ffffff !default;
$black:					#000000 !default;
$bricks-orange:			#F36E0E !default;
$bricks-gray:			#303030 !default;
$transparent:			rgba(0, 0, 0, 0) !default;


// Base
$font-family-sans-serif:         "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-light-sans-serif:   "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-serif:              Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:          Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-base:               $font-family-sans-serif !default;
$font-size-base:                 14px !default;
$font-size-large:                18px !default;
$font-size-small:                11px !default;
$line-height-base:               1.428571429 !default; // 20/14
$line-height-computed:           floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;
$headings-font-family:           $font-family-base !default;
$headings-font-weight:           500 !default;
$headings-line-height:           1.2 !default;
$base-background-color:          #fff !default;
$base-color:                     #000 !default;
$content-padding:                10px !default;
$padding-base-vertical:          6px !default;
$padding-base-horizontal:        12px !default;
$padding-large-vertical:         10px !default;
$padding-large-horizontal:       16px !default;
$padding-small-vertical:         5px !default;
$padding-small-horizontal:       10px !default;
$border-radius-base:             4px !default;
$border-radius-large:            6px !default;
$border-radius-small:            3px !default;


// Icon font
$fa-font-path: 					'../fonts' !default;
$fa-font-family: 				FontAwesome !default;
$fa-version: 					4.0.3 !default;
$fa-name: 						fontawesome !default;
$fa-prefix: 					icon !default;


// Form
$fieldsBottom:					1.6em !default;
$baseFontSize: 					14 !default;
$smallFontSize: 				$baseFontSize - 2px !default;


// navs
$colorBlack: #0f0f0f;
$colorBlue: #3d58a8;
$colorRed: #d70a16;
$colorGreen: #159776;
$colorYellow: #fddc43;
$baseFontSize: 14;
$baseLineHeight: 1.6;
$baseLine: $baseFontSize * $baseLineHeight;
$baseLineInEms: $baseLine / $baseFontSize;
$colorLink: #3570c3;
$colorLinkHover: $colorRed;


// Grids
$width-container: 				100%;
$width-fl:	 					100%;
$width-s: 						768px;
$width-m: 						960px;
$width-l: 						1170px;
$num-columns: 					12;
$col-width-s: 					34px;
$col-width-m: 					50px;
$col-width-l: 					70px;
$glutter-width: 				30px;
$row-max-width: 				940px !default;


// Progress
$base-font-size: 				16px !default;
$border-radius: 				4px !default;

// Label
$base-line-height: 24px !default;

// List
$extra-small-start: 30em !default;
$small-start: 48em !default;


// Media queries
$s-query: 						"(min-width: 768px)";
$m-query: 						"(min-width: 992px)";
$l-query: 						"(min-width: 1200px)";


// Z-Indexes
$z-index-action-sheet:          10 !default;
$z-index-nav:                   10 !default;
$z-index-nav-title:             0 !default;
$z-index-nav-btn:               1 !default;
$z-index-item:                  2 !default;
$z-index-item-checkbox:         3 !default;
$z-index-item-drag:             0 !default;
$z-index-item-edit:             0 !default;
$z-index-item-options:          1 !default;
$z-index-item-radio:            3 !default;
$z-index-item-reordering:       9 !default;
$z-index-item-toggle:           3 !default;
$z-index-menu:                  0 !default;
$z-index-modal:                 10 !default;
$z-index-pane:                  1 !default;
$z-index-scroll-nav:            9999 !default;
$z-index-tabs:                  5 !default;
$z-index-view:                  1 !default;


// Responsive
$min-device-width: 320px; 
$tablet-device-width: 768px;
$document-width: $row-max-width;
$max-device-width: 2880px;


// Floats
$default-float: left;
$switch-float: right