/* Quotes */

pre, 
.pre {
    display: block;
    padding: 10px;
    margin: 0 0 15px;
    line-height: 22px;
    word-break: break-all;
    word-row: break-word;
    word-wrap: break-word;
    background: #f5f5f5;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color:#666;
    font-family: Menlo,Consolas,"Courier New",monospace;
    font-size: 13px;
}

pre {
    white-space: pre-wrap;
}

code {
    padding: 2px 4px;
    color: #d14;
    white-space: norow;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius:4px;
    font-size: 12px !important;
    font-family: Menlo,Consolas,"Courier New",monospace;
}

pre, 
blockquote {
    margin: 0 0 15px;
}

blockquote {
    font-size: 13px;
    word-row: break-word;
    color:#666;
    border-left:5px solid #ddd;
    padding-left:10px;
    margin: 0 0 15px;
}

pre .string,
.pre .string,
.well .string,
.block .string {
    color:#d14;
}

.block,
.block-white,
.block-gray,
.block-white-gray,
.block-gray-black,
.block-black,
.block-red,
.block-blue,
.block-green,
.block-yellow,
.block-pink,
.block-purple {
    border:none;
    border-left:5px solid #ddd;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.block-white {
    border-color:#ffffff;
}

.block-white-gray {
    border-color:#f5f5f5;
}

.block-gray {
    border-color:#999999;
}

.block-gray-black {
    border-color:#666666;
}

.block-black {
    border-color:#444444;
}

.block-red {
    border-color:#f07458;
}

.block-blue {
    border-color:#2aa8f8;
}

.block-green {
    border-color:#92cc3a;
}

.block-yellow {
    border-color:#f9973b;
}

.block-pink {
    border-color:#fa7b9b;
}

.block-purple {
    border-color:#875ec4;
}