/* Navigation */

nav {
  height: 2.5rem;
  width: 100%;
  background-color: #000;
  color: #fff;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  float: left;
  margin-left: 10px;
}

nav ul li.right {
  display: inline;
  float: right;
  margin-right: 10px;
}

nav ul li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eeeeee;
}

nav ul li a:hover {
  color: #fff;
}

nav:before,
ul:before, 
nav:after,
ul:after {
  content: "";
  display: table;
}

nav:after,
ul:after {
  clear: both;
}

nav,
ul {
  zoom: 1;
}