/* Labels and Notifications */

.label {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #3F3F49;
    padding: 4px 6px;
    border-radius: 3px;
    display: inline-block;
}

.notification {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
    padding: 5px 8px 4px 8px;
    border-radius: 25px;
    display: inline-block;
}

.label.red,
.notification.red {
    background-color: #ff2b25;
}

.label.orange,
.notification.orange {
    background-color: #F16863;
}

.label.green,
.notification.green {
    background-color: #91bd09;
}

.label.blue,
.notification.blue {
    background-color: #2daebf;
}

.label.pink,
.notification.pink {
    background-color: #fe57a1;
}

.label.magenta,
.notification.magenta {
    background-color: #a9014b;
}

.label.yellow,
.notification.yellow {
    background-color: #ffb515;
}

.label.flat,
.notification.flat {
    border-bottom: none;
    box-shadow: none;
}