/* Crop */

/* Adds a slight border radius */
.img-rounded {
    border-radius: .352941176em;
}

/* Adds a border and box shadow */
.img-border, .img-polaroid {
    border: .071428571em solid #ccc;
    box-shadow: 0 .071428571em .176470588em rgba(0, 0, 0, 0.1);
}

/* Adds padding and a white border */
.img-polaroid {
    padding: .235294118em;
    background-color: #ffffff;
}

/* Adds a 50% border radius,
* turning square images into a circle. */
.img-circle {
    border-radius: 50%;
}