/* ALERTS */

.alert{
    padding:15px;
    margin:10px 0;
    border-radius:3px;
}

.alert.primary {
    background: #E8EFF3;
    border: 1px solid #C5D7E3;
}

.alert.success {
    background: #DAEEE4;
    border: 1px solid #B6DFCA;
}

.alert.danger {
    background: #FDF4F1;
    border: 1px solid #F7CFC4;
}
