/* Background for sections */

.bg {
    width: 100%;
    height: 100%;
    background: #445555;
    color: #fff;
}

.bg.primary {
    background: #dd4b39;
}

.bg.secondary {
    background: #2795b6;
}

.bg.quiet {
    background: #d7d7d7;
}

.bg.neutral {
    background: #777777;
}

.bg.blue {
    background: #5A37F2;
}

.bg.red {
    background: #FF476B;
}

.bg.yellow {
    background: #F7EF00;
}

.bg.green {
    background: #00E91B;
}

.bg.light {
    background: #ffffff;
    color: #000;
}

.bg.dark {
    background: #000000;
}