/* Style for images */

.img-rounded {
    border-radius: 5px;
}

.img-border, .img-polaroid {
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.img-polaroid {
    padding: 3px;
    background-color: #ffffff;
}

.img-circle {
    border-radius: 50%;
}

img.border {
    padding:.3em;
    border:.1em solid #d6d6d6;
}

.bordered img{
    display:block;
    padding:.4em;
    background:#ecf0f1;
    margin:2.4em auto;
    border:.1em solid #d6d6d6;
}

img.smooth {
    -webkit-border-radius: .25em;
       -moz-border-radius: .25em;
            border-radius: .25em;
}

img.rounded {
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
}

img.big {
    margin:auto 4%;
    width: 92%;
}

img.big + img.big {
    margin: 1em auto;
}

img.wide {
    margin:0 -1.2%;
    width:102.4%;
}

img.wide + img.wide {
    margin:1em -1.2%;
}

.img-cover {
    width:8em;
    height:auto;
    display:block;
    overflow:hidden;
    cursor:pointer;
    margin:auto;
}

.img-cover img {
    width:100%;
}

.img-cover .cover {
    display:block;
    margin:auto;
    width:8em;
    height:8em;
    background:rgba(0,0,0,.65);
    position:absolute;
    -webkit-transition:opacity .2s ease;
       -moz-transition:opacity .2s ease;
         -o-transition:opacity .2s ease;
            transition:opacity .2s ease;
}

.img-cover.blue .cover {
    background:rgba(52,152,219,.65);
}

.img-cover.red .cover {
    background:rgba(231,76,60,.65);
}

.img-cover.green .cover {
    background:rgba(46,204,113,.65);
}

.img-cover:hover .cover,
.img-cover:active .cover {
    opacity:0;
}

.img-cover.rounded {
    -webkit-border-radius:100%;
       -moz-border-radius:100%;
            border-radius:100%;
}

.img-cover.rounded .cover {
    -webkit-border-radius:100%;
       -moz-border-radius:100%;
            border-radius:100%;
}

.img-cover.rounded img {
    -webkit-border-radius:100%;
       -moz-border-radius:100%;
            border-radius:100%;
}

.img-cover.smooth {
    -webkit-border-radius:.25em;
       -moz-border-radius:.25em;
            border-radius:.25em;
}

.img-cover.smooth .cover {
    -webkit-border-radius:.25em;
       -moz-border-radius:.25em;
            border-radius:.25em;
}

.img-cover.smooth img {
    -webkit-border-radius:.25em;
       -moz-border-radius:.25em;
            border-radius:.25em;
}