/* Boxes */

.box {
    background-color: #292A2B;
    margin-bottom: 1.529411765em;
    padding: 1.529411765em;
    border: .071428571em solid #e5e5e5;
    border-radius: .235294118em;
}

.box-condensed {
    padding: .823529412em;
}

/* Skins for boxes */

.box.skin-a {
  background-color: #009966;
}

.button.skin-b {
  background-color: #FF6633;
}

.button.skin-c {
  background-color: #00c5d9;
}

.button.skin-b {
  background-color: #005466;
}