/* Text */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
    line-height: 34px;
}

h1 {
    font-size: 31px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1 small {
    font-size: 24px;
}

h2 small {
    font-size: 16px;
}

h3 small {
    font-size: 14px;
}

h4 small {
    font-size: 12px;
}
p {
    margin: 0px;
}

/*Quotes*/
pre, 
.pre {
    display: block;
    padding: 10px;
    margin: 0 0 15px;
    line-height: 22px;
    word-break: break-all;
    word-row: break-word;
    word-wrap: break-word;
    background: #f5f5f5;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color:#666;
    font-family: Menlo,Consolas,"Courier New",monospace;
    font-size: 13px;
}

pre {
    white-space: pre-wrap;
}

code {
    padding: 2px 4px;
    color: #d14;
    white-space: norow;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius:4px;
    font-size: 12px !important;
    font-family: Menlo,Consolas,"Courier New",monospace;
}

pre, 
blockquote {
    margin: 0 0 15px;
}

blockquote {
    font-size: 13px;
    word-row: break-word;
    color:#666;
    border-left:5px solid #ddd;
    padding-left:10px;
    margin: 0 0 15px;
}

pre .string,
.pre .string,
.well .string,
.block .string {
    color:#d14;
}

.block,
.block-white,
.block-gray,
.block-white-gray,
.block-gray-black,
.block-black,
.block-red,
.block-blue,
.block-green,
.block-yellow,
.block-pink,
.block-purple {
    border:none;
    border-left:5px solid #ddd;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.block-white {
    border-color:#ffffff;
}

.block-white-gray {
    border-color:#f5f5f5;
}

.block-gray {
    border-color:#999999;
}

.block-gray-black {
    border-color:#666666;
}

.block-black {
    border-color:#444444;
}

.block-red {
    border-color:#f07458;
}

.block-blue {
    border-color:#2aa8f8;
}

.block-green {
    border-color:#92cc3a;
}

.block-yellow {
    border-color:#f9973b;
}

.block-pink {
    border-color:#fa7b9b;
}

.block-purple {
    border-color:#875ec4;
}

.shadow {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.shadow-less {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.opacity-up,
.opacity-down:hover {
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    z-index:-1;
}

.opacity-up:hover {
    filter:alpha(opacity=1);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}