@import "include/Bricks.Variables";
@import "include/Bricks.Mixins";

.btn {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 600;
	-webkit-transition: all ease-in-out .25s;
    -moz-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}

.btn-rnd {
border-radius: 20px;
}

.btn-squ {
border-radius: 0px;
}

.btn-3d {
border-bottom: 4px solid rgba(0, 0, 0, 0.2)
}

.btn-border {
border: 4px solid rgba(0, 0, 0, 0.2)
}

.btn-small {
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
font-size: 14px;
font-weight: 500;
}

.btn-large {
padding-top: 15px;
padding-bottom: 15px;
padding-left: 30px;
padding-right: 30px;
font-size: 18px;
font-weight: 700;
}

.btn-exlarge {
padding-top: 20px;
padding-bottom: 20px;
padding-left: 40px;
padding-right: 40px;
font-size: 20px;
font-weight: 800;
}

.btn-sea-green-outline {
background-color: rgba(0, 0, 0, 0);
border: 3px solid $sea-green;
color: $sea-green;
}

.btn-sea-green-outline:hover {
border: 3px solid $sea-green;
color: $blank;
background-color: $sea-green;
}

.btn-green-outline {
background-color: rgba(0, 0, 0, 0);
border: 3px solid $green;
color: $green;
}

.btn-green-outline:hover {
border: 3px solid $green;
color: $blank;
background-color: $green;
}

.btn-blue-outline {
background-color: rgba(0, 0, 0, 0);
border: 3px solid $blue;
color: $blue;
}

.btn-blue-outline:hover {
border: 3px solid $blue;
color: $blank;
background-color: $blue;
}

.btn-purple-outline {
background-color: rgba(0, 0, 0, 0);
border: 3px solid $purple;
color: $purple;
}

.btn-purple-outline:hover {
border: 3px solid $purple;
color: $blank;
background-color: $purple;
}

.btn-navy-outline {
background-color: rgba(0, 0, 0, 0);
border: 3px solid $navy;
color: $navy;
}

.btn-navy-outline:hover {
border: 3px solid $navy;
color: $blank;
background-color: $navy;
}

.btn-yellow-outline {
background-color: rgba(0, 0, 0, 0);
border: 3px solid $yellow;
color: $yellow;
}

.btn-yellow-outline:hover {
border: 3px solid $yellow;
color: $blank;
background-color: $yellow;
}

.btn-orange-outline {
background-color: rgba(0, 0, 0, 0);
border: 3px solid $orange;
color: $orange;
}

.btn-orange-outline:hover {
border: 3px solid $orange;
color: $blank;
background-color: $orange;
}

.btn-red-outline {
background-color: rgba(0, 0, 0, 0);
border: 3px solid $red;
color: $red;
}

.btn-red-outline:hover {
border: 3px solid $red;
color: $blank;
background-color: $red;
}

.btn-gray-outline {
background-color: rgba(0, 0, 0, 0);
border: 3px solid $gray;
color: $gray;
}

.btn-gray-outline:hover {
border: 3px solid #7f8c8d;
color: $blank;
background-color: #7f8c8d;
}

.btn-sea-green {
background-color: $sea-green;
color: $blank;
}

.btn-sea-green:hover {
background-color: #16a085;
color: $blank;
}

.btn-green {
	background-color: $green;
	color: $blank;
}

.btn-green:hover {
	background-color: #27ae60;
	color: $blank;
}

.btn-blue {
	background-color: $blue;
	color: $blank;
}

.btn-blue:hover {
	background-color: #2980b9;
	color: $blank;
}

.btn-purple {
	background-color: $purple;
	color: $blank;
}

.btn-purple:hover {
	background-color: #8e44ad;
	color: $blank;
}

.btn-navy {
	background-color: $navy;
	color: $blank;
}

.btn-navy:hover {
	background-color: #2c3e50;
	color: $blank;
}

.btn-yellow {
	background-color: $yellow;
	color: $blank;
}

.btn-yellow:hover {
	background-color: #f39c12;
	color: $blank;
}

.btn-orange {
	background-color: $orange;
	color: $blank;
}

.btn-orange:hover {
	background-color: #d35400;
	color: $blank;
}

.btn-red {
	background-color: $red;
	color: $blank;
}

.btn-red:hover {
	background-color: #c0392b;
	color: $blank;
}

.btn-blank {
	background-color: $blank;
	color: #7f8c8d;
}

.btn-blank:hover {
	background-color: #eaeaea;
	color: #7f8c8d;
}

.btn-white {
	background-color: #ffffff;
	color: #000000;
}

.btn-white:hover {
	background-color: #ffffff;
	color: #000000;
}

.btn-gray {
	background-color: $gray;
	color: $blank;
}

.btn-gray:hover {
	background-color: #7f8c8d;
	color: $blank;
}

