/**
 * grid
 * --------------------------------------------------
 */

/* container */

@include container(fluid);

@include container(fixed);

/* row */

@include row();

/* cols */

@include col(x);

@include col(s);

@include col(m);

@include col(l);

/* col values for super small */
@include g-col(x);

@include col-float(x);

/* col pull */
@include g-p-col(x);

/* col push */
@include g-pu-col(x);

/* col offset */
@include g-o-col(x);

/* Media Queries */
@include respond($s-query) {
  .container {
    width: 750px;
  }

  /* col values for small */
  @include g-col(s);

  @include col-float(s);

  /* col pull */
  @include g-p-col(s);

  /* col push */
  @include g-pu-col(s);

  /* col offset */
  @include g-o-col(s);
}

@include respond($m-query) {
  .container {
    width: 970px;
  }

  /* col values for medium */
  @include g-col(m);

  @include col-float(m);

  /* col pull */
  @include g-p-col(m);

  /* col push */
  @include g-pu-col(m);

  /* col offset */
  @include g-o-col(m);
}

@include respond($l-query) {
  .container {
    width: 1170px;
  }
  /* col values for large */
  @include g-col(l);

  @include col-float(l);

  /* col pull */
  @include g-p-col(l);

  /* col push */
  @include g-pu-col(l);

  /* col offset */
  @include g-o-col(l);
}

