@import "include/Bricks.Variables";
@import "include/Bricks.Mixins";

.#{$fa-prefix}-glass:before {
  content: "\f000";
}
.#{$fa-prefix}-music:before {
  content: "\f001";
}
.#{$fa-prefix}-search:before {
  content: "\f002";
}
.#{$fa-prefix}-envelope-o:before {
  content: "\f003";
}
.#{$fa-prefix}-heart:before {
  content: "\f004";
}
.#{$fa-prefix}-star:before {
  content: "\f005";
}
.#{$fa-prefix}-star-o:before {
  content: "\f006";
}
.#{$fa-prefix}-user:before {
  content: "\f007";
}
.#{$fa-prefix}-film:before {
  content: "\f008";
}
.#{$fa-prefix}-th-large:before {
  content: "\f009";
}
.#{$fa-prefix}-th:before {
  content: "\f00a";
}
.#{$fa-prefix}-th-list:before {
  content: "\f00b";
}
.#{$fa-prefix}-check:before {
  content: "\f00c";
}
.#{$fa-prefix}-times:before {
  content: "\f00d";
}
.#{$fa-prefix}-search-plus:before {
  content: "\f00e";
}
.#{$fa-prefix}-search-minus:before {
  content: "\f010";
}
.#{$fa-prefix}-power-off:before {
  content: "\f011";
}
.#{$fa-prefix}-signal:before {
  content: "\f012";
}
.#{$fa-prefix}-gear:before,
.#{$fa-prefix}-cog:before {
  content: "\f013";
}
.#{$fa-prefix}-trash-o:before {
  content: "\f014";
}
.#{$fa-prefix}-home:before {
  content: "\f015";
}
.#{$fa-prefix}-file-o:before {
  content: "\f016";
}
.#{$fa-prefix}-clock-o:before {
  content: "\f017";
}
.#{$fa-prefix}-road:before {
  content: "\f018";
}
.#{$fa-prefix}-download:before {
  content: "\f019";
}
.#{$fa-prefix}-arrow-circle-o-down:before {
  content: "\f01a";
}
.#{$fa-prefix}-arrow-circle-o-up:before {
  content: "\f01b";
}
.#{$fa-prefix}-inbox:before {
  content: "\f01c";
}
.#{$fa-prefix}-play-circle-o:before {
  content: "\f01d";
}
.#{$fa-prefix}-rotate-right:before,
.#{$fa-prefix}-repeat:before {
  content: "\f01e";
}
.#{$fa-prefix}-refresh:before {
  content: "\f021";
}
.#{$fa-prefix}-list-alt:before {
  content: "\f022";
}
.#{$fa-prefix}-lock:before {
  content: "\f023";
}
.#{$fa-prefix}-flag:before {
  content: "\f024";
}
.#{$fa-prefix}-headphones:before {
  content: "\f025";
}
.#{$fa-prefix}-volume-off:before {
  content: "\f026";
}
.#{$fa-prefix}-volume-down:before {
  content: "\f027";
}
.#{$fa-prefix}-volume-up:before {
  content: "\f028";
}
.#{$fa-prefix}-qrcode:before {
  content: "\f029";
}
.#{$fa-prefix}-barcode:before {
  content: "\f02a";
}
.#{$fa-prefix}-tag:before {
  content: "\f02b";
}
.#{$fa-prefix}-tags:before {
  content: "\f02c";
}
.#{$fa-prefix}-book:before {
  content: "\f02d";
}
.#{$fa-prefix}-bookmark:before {
  content: "\f02e";
}
.#{$fa-prefix}-print:before {
  content: "\f02f";
}
.#{$fa-prefix}-camera:before {
  content: "\f030";
}
.#{$fa-prefix}-font:before {
  content: "\f031";
}
.#{$fa-prefix}-bold:before {
  content: "\f032";
}
.#{$fa-prefix}-italic:before {
  content: "\f033";
}
.#{$fa-prefix}-text-height:before {
  content: "\f034";
}
.#{$fa-prefix}-text-width:before {
  content: "\f035";
}
.#{$fa-prefix}-align-left:before {
  content: "\f036";
}
.#{$fa-prefix}-align-center:before {
  content: "\f037";
}
.#{$fa-prefix}-align-right:before {
  content: "\f038";
}
.#{$fa-prefix}-align-justify:before {
  content: "\f039";
}
.#{$fa-prefix}-list:before {
  content: "\f03a";
}
.#{$fa-prefix}-dedent:before,
.#{$fa-prefix}-outdent:before {
  content: "\f03b";
}
.#{$fa-prefix}-indent:before {
  content: "\f03c";
}
.#{$fa-prefix}-video-camera:before {
  content: "\f03d";
}
.#{$fa-prefix}-picture-o:before {
  content: "\f03e";
}
.#{$fa-prefix}-pencil:before {
  content: "\f040";
}
.#{$fa-prefix}-map-marker:before {
  content: "\f041";
}
.#{$fa-prefix}-adjust:before {
  content: "\f042";
}
.#{$fa-prefix}-tint:before {
  content: "\f043";
}
.#{$fa-prefix}-edit:before,
.#{$fa-prefix}-pencil-square-o:before {
  content: "\f044";
}
.#{$fa-prefix}-share-square-o:before {
  content: "\f045";
}
.#{$fa-prefix}-check-square-o:before {
  content: "\f046";
}
.#{$fa-prefix}-arrows:before {
  content: "\f047";
}
.#{$fa-prefix}-step-backward:before {
  content: "\f048";
}
.#{$fa-prefix}-fast-backward:before {
  content: "\f049";
}
.#{$fa-prefix}-backward:before {
  content: "\f04a";
}
.#{$fa-prefix}-play:before {
  content: "\f04b";
}
.#{$fa-prefix}-pause:before {
  content: "\f04c";
}
.#{$fa-prefix}-stop:before {
  content: "\f04d";
}
.#{$fa-prefix}-forward:before {
  content: "\f04e";
}
.#{$fa-prefix}-fast-forward:before {
  content: "\f050";
}
.#{$fa-prefix}-step-forward:before {
  content: "\f051";
}
.#{$fa-prefix}-eject:before {
  content: "\f052";
}
.#{$fa-prefix}-chevron-left:before {
  content: "\f053";
}
.#{$fa-prefix}-chevron-right:before {
  content: "\f054";
}
.#{$fa-prefix}-plus-circle:before {
  content: "\f055";
}
.#{$fa-prefix}-minus-circle:before {
  content: "\f056";
}
.#{$fa-prefix}-times-circle:before {
  content: "\f057";
}
.#{$fa-prefix}-check-circle:before {
  content: "\f058";
}
.#{$fa-prefix}-question-circle:before {
  content: "\f059";
}
.#{$fa-prefix}-info-circle:before {
  content: "\f05a";
}
.#{$fa-prefix}-crosshairs:before {
  content: "\f05b";
}
.#{$fa-prefix}-times-circle-o:before {
  content: "\f05c";
}
.#{$fa-prefix}-check-circle-o:before {
  content: "\f05d";
}
.#{$fa-prefix}-ban:before {
  content: "\f05e";
}
.#{$fa-prefix}-arrow-left:before {
  content: "\f060";
}
.#{$fa-prefix}-arrow-right:before {
  content: "\f061";
}
.#{$fa-prefix}-arrow-up:before {
  content: "\f062";
}
.#{$fa-prefix}-arrow-down:before {
  content: "\f063";
}
.#{$fa-prefix}-mail-forward:before,
.#{$fa-prefix}-share:before {
  content: "\f064";
}
.#{$fa-prefix}-expand:before {
  content: "\f065";
}
.#{$fa-prefix}-compress:before {
  content: "\f066";
}
.#{$fa-prefix}-plus:before {
  content: "\f067";
}
.#{$fa-prefix}-minus:before {
  content: "\f068";
}
.#{$fa-prefix}-asterisk:before {
  content: "\f069";
}
.#{$fa-prefix}-exclamation-circle:before {
  content: "\f06a";
}
.#{$fa-prefix}-gift:before {
  content: "\f06b";
}
.#{$fa-prefix}-leaf:before {
  content: "\f06c";
}
.#{$fa-prefix}-fire:before {
  content: "\f06d";
}
.#{$fa-prefix}-eye:before {
  content: "\f06e";
}
.#{$fa-prefix}-eye-slash:before {
  content: "\f070";
}
.#{$fa-prefix}-warning:before,
.#{$fa-prefix}-exclamation-triangle:before {
  content: "\f071";
}
.#{$fa-prefix}-plane:before {
  content: "\f072";
}
.#{$fa-prefix}-calendar:before {
  content: "\f073";
}
.#{$fa-prefix}-random:before {
  content: "\f074";
}
.#{$fa-prefix}-comment:before {
  content: "\f075";
}
.#{$fa-prefix}-magnet:before {
  content: "\f076";
}
.#{$fa-prefix}-chevron-up:before {
  content: "\f077";
}
.#{$fa-prefix}-chevron-down:before {
  content: "\f078";
}
.#{$fa-prefix}-retweet:before {
  content: "\f079";
}
.#{$fa-prefix}-shopping-cart:before {
  content: "\f07a";
}
.#{$fa-prefix}-folder:before {
  content: "\f07b";
}
.#{$fa-prefix}-folder-open:before {
  content: "\f07c";
}
.#{$fa-prefix}-arrows-v:before {
  content: "\f07d";
}
.#{$fa-prefix}-arrows-h:before {
  content: "\f07e";
}
.#{$fa-prefix}-bar-chart-o:before {
  content: "\f080";
}
.#{$fa-prefix}-twitter-square:before {
  content: "\f081";
}
.#{$fa-prefix}-facebook-square:before {
  content: "\f082";
}
.#{$fa-prefix}-camera-retro:before {
  content: "\f083";
}
.#{$fa-prefix}-key:before {
  content: "\f084";
}
.#{$fa-prefix}-gears:before,
.#{$fa-prefix}-cogs:before {
  content: "\f085";
}
.#{$fa-prefix}-comments:before {
  content: "\f086";
}
.#{$fa-prefix}-thumbs-o-up:before {
  content: "\f087";
}
.#{$fa-prefix}-thumbs-o-down:before {
  content: "\f088";
}
.#{$fa-prefix}-star-half:before {
  content: "\f089";
}
.#{$fa-prefix}-heart-o:before {
  content: "\f08a";
}
.#{$fa-prefix}-sign-out:before {
  content: "\f08b";
}
.#{$fa-prefix}-linkedin-square:before {
  content: "\f08c";
}
.#{$fa-prefix}-thumb-tack:before {
  content: "\f08d";
}
.#{$fa-prefix}-external-link:before {
  content: "\f08e";
}
.#{$fa-prefix}-sign-in:before {
  content: "\f090";
}
.#{$fa-prefix}-trophy:before {
  content: "\f091";
}
.#{$fa-prefix}-github-square:before {
  content: "\f092";
}
.#{$fa-prefix}-upload:before {
  content: "\f093";
}
.#{$fa-prefix}-lemon-o:before {
  content: "\f094";
}
.#{$fa-prefix}-phone:before {
  content: "\f095";
}
.#{$fa-prefix}-square-o:before {
  content: "\f096";
}
.#{$fa-prefix}-bookmark-o:before {
  content: "\f097";
}
.#{$fa-prefix}-phone-square:before {
  content: "\f098";
}
.#{$fa-prefix}-twitter:before {
  content: "\f099";
}
.#{$fa-prefix}-facebook:before {
  content: "\f09a";
}
.#{$fa-prefix}-github:before {
  content: "\f09b";
}
.#{$fa-prefix}-unlock:before {
  content: "\f09c";
}
.#{$fa-prefix}-credit-card:before {
  content: "\f09d";
}
.#{$fa-prefix}-rss:before {
  content: "\f09e";
}
.#{$fa-prefix}-hdd-o:before {
  content: "\f0a0";
}
.#{$fa-prefix}-bullhorn:before {
  content: "\f0a1";
}
.#{$fa-prefix}-bell:before {
  content: "\f0f3";
}
.#{$fa-prefix}-certificate:before {
  content: "\f0a3";
}
.#{$fa-prefix}-hand-o-right:before {
  content: "\f0a4";
}
.#{$fa-prefix}-hand-o-left:before {
  content: "\f0a5";
}
.#{$fa-prefix}-hand-o-up:before {
  content: "\f0a6";
}
.#{$fa-prefix}-hand-o-down:before {
  content: "\f0a7";
}
.#{$fa-prefix}-arrow-circle-left:before {
  content: "\f0a8";
}
.#{$fa-prefix}-arrow-circle-right:before {
  content: "\f0a9";
}
.#{$fa-prefix}-arrow-circle-up:before {
  content: "\f0aa";
}
.#{$fa-prefix}-arrow-circle-down:before {
  content: "\f0ab";
}
.#{$fa-prefix}-globe:before {
  content: "\f0ac";
}
.#{$fa-prefix}-wrench:before {
  content: "\f0ad";
}
.#{$fa-prefix}-tasks:before {
  content: "\f0ae";
}
.#{$fa-prefix}-filter:before {
  content: "\f0b0";
}
.#{$fa-prefix}-briefcase:before {
  content: "\f0b1";
}
.#{$fa-prefix}-arrows-alt:before {
  content: "\f0b2";
}
.#{$fa-prefix}-group:before,
.#{$fa-prefix}-users:before {
  content: "\f0c0";
}
.#{$fa-prefix}-chain:before,
.#{$fa-prefix}-link:before {
  content: "\f0c1";
}
.#{$fa-prefix}-cloud:before {
  content: "\f0c2";
}
.#{$fa-prefix}-flask:before {
  content: "\f0c3";
}
.#{$fa-prefix}-cut:before,
.#{$fa-prefix}-scissors:before {
  content: "\f0c4";
}
.#{$fa-prefix}-copy:before,
.#{$fa-prefix}-files-o:before {
  content: "\f0c5";
}
.#{$fa-prefix}-paperclip:before {
  content: "\f0c6";
}
.#{$fa-prefix}-save:before,
.#{$fa-prefix}-floppy-o:before {
  content: "\f0c7";
}
.#{$fa-prefix}-square:before {
  content: "\f0c8";
}
.#{$fa-prefix}-bars:before {
  content: "\f0c9";
}
.#{$fa-prefix}-list-ul:before {
  content: "\f0ca";
}
.#{$fa-prefix}-list-ol:before {
  content: "\f0cb";
}
.#{$fa-prefix}-strikethrough:before {
  content: "\f0cc";
}
.#{$fa-prefix}-underline:before {
  content: "\f0cd";
}
.#{$fa-prefix}-table:before {
  content: "\f0ce";
}
.#{$fa-prefix}-magic:before {
  content: "\f0d0";
}
.#{$fa-prefix}-truck:before {
  content: "\f0d1";
}
.#{$fa-prefix}-pinterest:before {
  content: "\f0d2";
}
.#{$fa-prefix}-pinterest-square:before {
  content: "\f0d3";
}
.#{$fa-prefix}-google-plus-square:before {
  content: "\f0d4";
}
.#{$fa-prefix}-google-plus:before {
  content: "\f0d5";
}
.#{$fa-prefix}-money:before {
  content: "\f0d6";
}
.#{$fa-prefix}-caret-down:before {
  content: "\f0d7";
}
.#{$fa-prefix}-caret-up:before {
  content: "\f0d8";
}
.#{$fa-prefix}-caret-left:before {
  content: "\f0d9";
}
.#{$fa-prefix}-caret-right:before {
  content: "\f0da";
}
.#{$fa-prefix}-columns:before {
  content: "\f0db";
}
.#{$fa-prefix}-unsorted:before,
.#{$fa-prefix}-sort:before {
  content: "\f0dc";
}
.#{$fa-prefix}-sort-down:before,
.#{$fa-prefix}-sort-asc:before {
  content: "\f0dd";
}
.#{$fa-prefix}-sort-up:before,
.#{$fa-prefix}-sort-desc:before {
  content: "\f0de";
}
.#{$fa-prefix}-envelope:before {
  content: "\f0e0";
}
.#{$fa-prefix}-linkedin:before {
  content: "\f0e1";
}
.#{$fa-prefix}-rotate-left:before,
.#{$fa-prefix}-undo:before {
  content: "\f0e2";
}
.#{$fa-prefix}-legal:before,
.#{$fa-prefix}-gavel:before {
  content: "\f0e3";
}
.#{$fa-prefix}-dashboard:before,
.#{$fa-prefix}-tachometer:before {
  content: "\f0e4";
}
.#{$fa-prefix}-comment-o:before {
  content: "\f0e5";
}
.#{$fa-prefix}-comments-o:before {
  content: "\f0e6";
}
.#{$fa-prefix}-flash:before,
.#{$fa-prefix}-bolt:before {
  content: "\f0e7";
}
.#{$fa-prefix}-sitemap:before {
  content: "\f0e8";
}
.#{$fa-prefix}-umbrella:before {
  content: "\f0e9";
}
.#{$fa-prefix}-paste:before,
.#{$fa-prefix}-clipboard:before {
  content: "\f0ea";
}
.#{$fa-prefix}-lightbulb-o:before {
  content: "\f0eb";
}
.#{$fa-prefix}-exchange:before {
  content: "\f0ec";
}
.#{$fa-prefix}-cloud-download:before {
  content: "\f0ed";
}
.#{$fa-prefix}-cloud-upload:before {
  content: "\f0ee";
}
.#{$fa-prefix}-user-md:before {
  content: "\f0f0";
}
.#{$fa-prefix}-stethoscope:before {
  content: "\f0f1";
}
.#{$fa-prefix}-suitcase:before {
  content: "\f0f2";
}
.#{$fa-prefix}-bell-o:before {
  content: "\f0a2";
}
.#{$fa-prefix}-coffee:before {
  content: "\f0f4";
}
.#{$fa-prefix}-cutlery:before {
  content: "\f0f5";
}
.#{$fa-prefix}-file-text-o:before {
  content: "\f0f6";
}
.#{$fa-prefix}-building-o:before {
  content: "\f0f7";
}
.#{$fa-prefix}-hospital-o:before {
  content: "\f0f8";
}
.#{$fa-prefix}-ambulance:before {
  content: "\f0f9";
}
.#{$fa-prefix}-medkit:before {
  content: "\f0fa";
}
.#{$fa-prefix}-fighter-jet:before {
  content: "\f0fb";
}
.#{$fa-prefix}-beer:before {
  content: "\f0fc";
}
.#{$fa-prefix}-h-square:before {
  content: "\f0fd";
}
.#{$fa-prefix}-plus-square:before {
  content: "\f0fe";
}
.#{$fa-prefix}-angle-double-left:before {
  content: "\f100";
}
.#{$fa-prefix}-angle-double-right:before {
  content: "\f101";
}
.#{$fa-prefix}-angle-double-up:before {
  content: "\f102";
}
.#{$fa-prefix}-angle-double-down:before {
  content: "\f103";
}
.#{$fa-prefix}-angle-left:before {
  content: "\f104";
}
.#{$fa-prefix}-angle-right:before {
  content: "\f105";
}
.#{$fa-prefix}-angle-up:before {
  content: "\f106";
}
.#{$fa-prefix}-angle-down:before {
  content: "\f107";
}
.#{$fa-prefix}-desktop:before {
  content: "\f108";
}
.#{$fa-prefix}-laptop:before {
  content: "\f109";
}
.#{$fa-prefix}-tablet:before {
  content: "\f10a";
}
.#{$fa-prefix}-mobile-phone:before,
.#{$fa-prefix}-mobile:before {
  content: "\f10b";
}
.#{$fa-prefix}-circle-o:before {
  content: "\f10c";
}
.#{$fa-prefix}-quote-left:before {
  content: "\f10d";
}
.#{$fa-prefix}-quote-right:before {
  content: "\f10e";
}
.#{$fa-prefix}-spinner:before {
  content: "\f110";
}
.#{$fa-prefix}-circle:before {
  content: "\f111";
}
.#{$fa-prefix}-mail-reply:before,
.#{$fa-prefix}-reply:before {
  content: "\f112";
}
.#{$fa-prefix}-github-alt:before {
  content: "\f113";
}
.#{$fa-prefix}-folder-o:before {
  content: "\f114";
}
.#{$fa-prefix}-folder-open-o:before {
  content: "\f115";
}
.#{$fa-prefix}-smile-o:before {
  content: "\f118";
}
.#{$fa-prefix}-frown-o:before {
  content: "\f119";
}
.#{$fa-prefix}-meh-o:before {
  content: "\f11a";
}
.#{$fa-prefix}-gamepad:before {
  content: "\f11b";
}
.#{$fa-prefix}-keyboard-o:before {
  content: "\f11c";
}
.#{$fa-prefix}-flag-o:before {
  content: "\f11d";
}
.#{$fa-prefix}-flag-checkered:before {
  content: "\f11e";
}
.#{$fa-prefix}-terminal:before {
  content: "\f120";
}
.#{$fa-prefix}-code:before {
  content: "\f121";
}
.#{$fa-prefix}-reply-all:before {
  content: "\f122";
}
.#{$fa-prefix}-mail-reply-all:before {
  content: "\f122";
}
.#{$fa-prefix}-star-half-empty:before,
.#{$fa-prefix}-star-half-full:before,
.#{$fa-prefix}-star-half-o:before {
  content: "\f123";
}
.#{$fa-prefix}-location-arrow:before {
  content: "\f124";
}
.#{$fa-prefix}-crop:before {
  content: "\f125";
}
.#{$fa-prefix}-code-fork:before {
  content: "\f126";
}
.#{$fa-prefix}-unlink:before,
.#{$fa-prefix}-chain-broken:before {
  content: "\f127";
}
.#{$fa-prefix}-question:before {
  content: "\f128";
}
.#{$fa-prefix}-info:before {
  content: "\f129";
}
.#{$fa-prefix}-exclamation:before {
  content: "\f12a";
}
.#{$fa-prefix}-superscript:before {
  content: "\f12b";
}
.#{$fa-prefix}-subscript:before {
  content: "\f12c";
}
.#{$fa-prefix}-eraser:before {
  content: "\f12d";
}
.#{$fa-prefix}-puzzle-piece:before {
  content: "\f12e";
}
.#{$fa-prefix}-microphone:before {
  content: "\f130";
}
.#{$fa-prefix}-microphone-slash:before {
  content: "\f131";
}
.#{$fa-prefix}-shield:before {
  content: "\f132";
}
.#{$fa-prefix}-calendar-o:before {
  content: "\f133";
}
.#{$fa-prefix}-fire-extinguisher:before {
  content: "\f134";
}
.#{$fa-prefix}-rocket:before {
  content: "\f135";
}
.#{$fa-prefix}-maxcdn:before {
  content: "\f136";
}
.#{$fa-prefix}-chevron-circle-left:before {
  content: "\f137";
}
.#{$fa-prefix}-chevron-circle-right:before {
  content: "\f138";
}
.#{$fa-prefix}-chevron-circle-up:before {
  content: "\f139";
}
.#{$fa-prefix}-chevron-circle-down:before {
  content: "\f13a";
}
.#{$fa-prefix}-html5:before {
  content: "\f13b";
}
.#{$fa-prefix}-css3:before {
  content: "\f13c";
}
.#{$fa-prefix}-anchor:before {
  content: "\f13d";
}
.#{$fa-prefix}-unlock-alt:before {
  content: "\f13e";
}
.#{$fa-prefix}-bullseye:before {
  content: "\f140";
}
.#{$fa-prefix}-ellipsis-h:before {
  content: "\f141";
}
.#{$fa-prefix}-ellipsis-v:before {
  content: "\f142";
}
.#{$fa-prefix}-rss-square:before {
  content: "\f143";
}
.#{$fa-prefix}-play-circle:before {
  content: "\f144";
}
.#{$fa-prefix}-ticket:before {
  content: "\f145";
}
.#{$fa-prefix}-minus-square:before {
  content: "\f146";
}
.#{$fa-prefix}-minus-square-o:before {
  content: "\f147";
}
.#{$fa-prefix}-level-up:before {
  content: "\f148";
}
.#{$fa-prefix}-level-down:before {
  content: "\f149";
}
.#{$fa-prefix}-check-square:before {
  content: "\f14a";
}
.#{$fa-prefix}-pencil-square:before {
  content: "\f14b";
}
.#{$fa-prefix}-external-link-square:before {
  content: "\f14c";
}
.#{$fa-prefix}-share-square:before {
  content: "\f14d";
}
.#{$fa-prefix}-compass:before {
  content: "\f14e";
}
.#{$fa-prefix}-toggle-down:before,
.#{$fa-prefix}-caret-square-o-down:before {
  content: "\f150";
}
.#{$fa-prefix}-toggle-up:before,
.#{$fa-prefix}-caret-square-o-up:before {
  content: "\f151";
}
.#{$fa-prefix}-toggle-right:before,
.#{$fa-prefix}-caret-square-o-right:before {
  content: "\f152";
}
.#{$fa-prefix}-euro:before,
.#{$fa-prefix}-eur:before {
  content: "\f153";
}
.#{$fa-prefix}-gbp:before {
  content: "\f154";
}
.#{$fa-prefix}-dollar:before,
.#{$fa-prefix}-usd:before {
  content: "\f155";
}
.#{$fa-prefix}-rupee:before,
.#{$fa-prefix}-inr:before {
  content: "\f156";
}
.#{$fa-prefix}-cny:before,
.#{$fa-prefix}-rmb:before,
.#{$fa-prefix}-yen:before,
.#{$fa-prefix}-jpy:before {
  content: "\f157";
}
.#{$fa-prefix}-ruble:before,
.#{$fa-prefix}-rouble:before,
.#{$fa-prefix}-rub:before {
  content: "\f158";
}
.#{$fa-prefix}-won:before,
.#{$fa-prefix}-krw:before {
  content: "\f159";
}
.#{$fa-prefix}-bitcoin:before,
.#{$fa-prefix}-btc:before {
  content: "\f15a";
}
.#{$fa-prefix}-file:before {
  content: "\f15b";
}
.#{$fa-prefix}-file-text:before {
  content: "\f15c";
}
.#{$fa-prefix}-sort-alpha-asc:before {
  content: "\f15d";
}
.#{$fa-prefix}-sort-alpha-desc:before {
  content: "\f15e";
}
.#{$fa-prefix}-sort-amount-asc:before {
  content: "\f160";
}
.#{$fa-prefix}-sort-amount-desc:before {
  content: "\f161";
}
.#{$fa-prefix}-sort-numeric-asc:before {
  content: "\f162";
}
.#{$fa-prefix}-sort-numeric-desc:before {
  content: "\f163";
}
.#{$fa-prefix}-thumbs-up:before {
  content: "\f164";
}
.#{$fa-prefix}-thumbs-down:before {
  content: "\f165";
}
.#{$fa-prefix}-youtube-square:before {
  content: "\f166";
}
.#{$fa-prefix}-youtube:before {
  content: "\f167";
}
.#{$fa-prefix}-xing:before {
  content: "\f168";
}
.#{$fa-prefix}-xing-square:before {
  content: "\f169";
}
.#{$fa-prefix}-youtube-play:before {
  content: "\f16a";
}
.#{$fa-prefix}-dropbox:before {
  content: "\f16b";
}
.#{$fa-prefix}-stack-overflow:before {
  content: "\f16c";
}
.#{$fa-prefix}-instagram:before {
  content: "\f16d";
}
.#{$fa-prefix}-flickr:before {
  content: "\f16e";
}
.#{$fa-prefix}-adn:before {
  content: "\f170";
}
.#{$fa-prefix}-bitbucket:before {
  content: "\f171";
}
.#{$fa-prefix}-bitbucket-square:before {
  content: "\f172";
}
.#{$fa-prefix}-tumblr:before {
  content: "\f173";
}
.#{$fa-prefix}-tumblr-square:before {
  content: "\f174";
}
.#{$fa-prefix}-long-arrow-down:before {
  content: "\f175";
}
.#{$fa-prefix}-long-arrow-up:before {
  content: "\f176";
}
.#{$fa-prefix}-long-arrow-left:before {
  content: "\f177";
}
.#{$fa-prefix}-long-arrow-right:before {
  content: "\f178";
}
.#{$fa-prefix}-apple:before {
  content: "\f179";
}
.#{$fa-prefix}-windows:before {
  content: "\f17a";
}
.#{$fa-prefix}-android:before {
  content: "\f17b";
}
.#{$fa-prefix}-linux:before {
  content: "\f17c";
}
.#{$fa-prefix}-dribbble:before {
  content: "\f17d";
}
.#{$fa-prefix}-skype:before {
  content: "\f17e";
}
.#{$fa-prefix}-foursquare:before {
  content: "\f180";
}
.#{$fa-prefix}-trello:before {
  content: "\f181";
}
.#{$fa-prefix}-female:before {
  content: "\f182";
}
.#{$fa-prefix}-male:before {
  content: "\f183";
}
.#{$fa-prefix}-gittip:before {
  content: "\f184";
}
.#{$fa-prefix}-sun-o:before {
  content: "\f185";
}
.#{$fa-prefix}-moon-o:before {
  content: "\f186";
}
.#{$fa-prefix}-archive:before {
  content: "\f187";
}
.#{$fa-prefix}-bug:before {
  content: "\f188";
}
.#{$fa-prefix}-vk:before {
  content: "\f189";
}
.#{$fa-prefix}-weibo:before {
  content: "\f18a";
}
.#{$fa-prefix}-renren:before {
  content: "\f18b";
}
.#{$fa-prefix}-pagelines:before {
  content: "\f18c";
}
.#{$fa-prefix}-stack-exchange:before {
  content: "\f18d";
}
.#{$fa-prefix}-arrow-circle-o-right:before {
  content: "\f18e";
}
.#{$fa-prefix}-arrow-circle-o-left:before {
  content: "\f190";
}
.#{$fa-prefix}-toggle-left:before,
.#{$fa-prefix}-caret-square-o-left:before {
  content: "\f191";
}
.#{$fa-prefix}-dot-circle-o:before {
  content: "\f192";
}
.#{$fa-prefix}-wheelchair:before {
  content: "\f193";
}
.#{$fa-prefix}-vimeo-square:before {
  content: "\f194";
}
.#{$fa-prefix}-turkish-lira:before,
.#{$fa-prefix}-try:before {
  content: "\f195";
}
.#{$fa-prefix}-plus-square-o:before {
  content: "\f196";
}