@import "include/Bricks.Variables";
@import "include/Bricks.Mixins";

.nav {
    @include em('margin-bottom', $baseLineInEms);
    @include clearfix;
}
.nav-left {
    float: left;
}
.nav-right {
    float: right;
}
.nav ul {
    list-style: none;
    margin: 0;
    @include clearfix;
}
.nav ul li {
    float: left;
    @include em('margin-right', $baseLineInEms);
}
.nav-right ul li {
    margin-right: 20px;
    @include em('margin-left', $baseLineInEms);
}
.nav ul li a,
.nav ul li span {
    display: block;
    text-decoration: none;
}
.nav ul li a:hover {
    color: $colorLinkHover;
}
.nav ul li.active a,
.nav ul li span {
    text-decoration: none;
    cursor: text;
    color: rgba(0, 0, 0, .4);
}
.nav .full ul {
    width: 100%;
}
.nav .full li {
    float: none !important;
    margin: 0;
    display: table-cell;
    width: 1%;
    text-align: center;
}
.nav .full li a,
.nav .full li span {
    display: block;
}

.nav-vert {
    @include em('margin-bottom', $baseLineInEms);
}
.nav-vert ul {
    list-style: none;
    margin: 0;
}
.nav-vert ul li ul {
    margin-left: 2em;
    font-size: .95em;
}
.nav-vert ul li a,
.nav-vert ul li span {
    display: block;
    padding: 5px 0;
}
.nav-vert ul li ul li a,
.nav-vert ul li ul li span {
    padding: 4px 0;
}
.nav-vert ul li a {
    text-decoration: none;
}
.nav-vert ul li a:hover {
    color: $colorLinkHover;
    text-decoration: underline;
}
.nav-vert ul li.active a,
.nav-vert ul li span {
    text-decoration: none;
    cursor: text;
    color: rgba(0, 0, 0, .4);
}

.nav-stroked li {
    border-bottom: 1px solid #eee;
}
.nav-stroked li:last-child {
    border-bottom: none;
}

.nav-stacked ul {
    border: 1px solid #eee;
    border-bottom: 0;
}
.nav-stacked ul li {
    border-bottom: 1px solid #eee;
}
.nav-stacked ul li a,
.nav-stacked ul li span {
    padding: 5px 10px;
}
.nav-stacked ul li a:hover {
    background-color: #f5f5f5;
}
.nav-stats li {
    position: relative;
}
.nav-stats li a,
.nav-stats li span {
    padding-right: 50px;
}
.nav-stats sup {
    position: absolute;
    top: 50%;
    right: 0;
    color: rgba(0, 0, 0, .4);
}
.nav-stats.nav-stacked sup {
    right: .5em;
}

.nav-bc {
    @include em('margin-bottom', $baseLineInEms);
    @include clearfix;
}
.nav-bc ul {
    font-size: .9em;
    color: rgba(0, 0, 0, .4);
    list-style: none;
    margin: 0;
    @include clearfix;
}
.nav-bc ul li {
    float: left;
    margin-right: 3px;
}
.nav-bc li + li:before {
    content: " > ";
    color: #aaa;
    font-size: 12px;
    margin: 0 3px;
    position: relative;
    top: -1px;
}
.bc-sect li + li:before {
    content: " | ";
    top: 0;
}
.bc-path li + li:before {
    content: " / ";
    top: 0;
}
.bc ul li a {
    color: $colorBlack;
    text-decoration: none;
}
.bc ul li.active a {
    text-decoration: none;
    cursor: text;
    color: rgba(0, 0, 0, .4);
}
.bc ul li a:hover {
    color: $colorBlack;
    text-decoration: underline;
}

.pag {
    position: relative;
    left: -9px;
    margin-left: 0;
    list-style: none;
    @include clearfix;
}
.pag li {
    float: left;
    margin-right: 2px;
}
.pag li a,
.pag li span {
    display: block;
    padding: 7px 9px;
    line-height: 1;
    border-radius: 3px;
    color: $colorBlack;
    text-decoration: none;
}
.pag span {
    border: 1px solid #ddd;
}
.pag li a:focus,
.pag li a:hover {
    text-decoration: none;
    background-color: $colorBlack;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .nav-left,
    .nav-right,
    .nav ul li,
    .nav-right ul li,
    .subnav-right ul,
    .subnav ul li,
    .subnav-right ul li {
        float: none;
        text-align: center;
    }
    .nav ul li,
    .nav-right ul li,
    .subnav ul li,
    .subnav-right ul li {
        margin-left: 0;
        margin-right: 0;
    }
    .nav .full ul {
        width: auto;
    }
    .nav .full li {
        display: block;
        width: auto;
    }
}