
/**
 * Utility Classes
 * --------------------------------------------------
 */

.hidden,
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}

.hide-footer {
  .bar-footer,
  .tabs {
    display: none;
  }
  .has-footer,
  .has-tabs {
    bottom: 0;
  }
}

.inline {
  display: inline-block;
}

.disable-pointer-events {
  pointer-events: none;
}

.enable-pointer-events {
  pointer-events: auto;
}

.block {
  display: block;
  clear: both;
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
  }
}

.full-image {
  width: 100%;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

/**
 * Content Padding
 * --------------------------------------------------
 */

.padding {
  padding: $content-padding;
}

.padding-top,
.padding-vertical {
  padding-top: $content-padding;
}

.padding-right,
.padding-horizontal {
  padding-right: $content-padding;
}

.padding-bottom,
.padding-vertical {
  padding-bottom: $content-padding;
}

.padding-left,
.padding-horizontal {
  padding-left: $content-padding;
}


/**
 * Rounded
 * --------------------------------------------------
 */

.rounded {
  border-radius: $border-radius-base;
}


/**
 * Utility Colors
 * --------------------------------------------------
 * Utility colors are added to help set a naming convention. You'll
 * notice we purposely do not use words like "red" or "blue", but
 * instead have colors which represent an emotion or generic theme.
 */

.light, a.light {
  color: $light;
}
.light-bg {
  background-color: $light;
}
.light-border {
  border-color: $btn-light-border;
}

.stable, a.stable {
  color: $stable;
}
.stable-bg {
  background-color: $stable;
}
.stable-border {
  border-color: $btn-stable-border;
}

.positive, a.positive {
  color: $positive;
}
.positive-bg {
  background-color: $positive;
}
.positive-border {
  border-color: $btn-positive-border;
}

.calm, a.calm {
  color: $calm;
}
.calm-bg {
  background-color: $calm;
}
.calm-border {
  border-color: $btn-calm-border;
}

.assertive, a.assertive {
  color: $assertive;
}
.assertive-bg {
  background-color: $assertive;
}
.assertive-border {
  border-color: $btn-assertive-border;
}

.balanced, a.balanced {
  color: $balanced;
}
.balanced-bg {
  background-color: $balanced;
}
.balanced-border {
  border-color: $btn-balanced-border;
}

.energized, a.energized {
  color: $energized;
}
.energized-bg {
  background-color: $energized;
}
.energized-border {
  border-color: $btn-energized-border;
}

.royal, a.royal {
  color: $royal;
}
.royal-bg {
  background-color: $royal;
}
.royal-border {
  border-color: $btn-royal-border;
}

.dark, a.dark {
  color: $dark;
}
.dark-bg {
  background-color: $dark;
}
.dark-border {
  border-color: $btn-dark-border;
}

/* Effects */

.shadow {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.shadow-less {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.opacity-up,
.opacity-down:hover {
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    z-index:-1;
}

.opacity-up:hover {
    filter:alpha(opacity=1);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

/* Style for images */

.img-rounded {
    border-radius: 5px;
}

.img-border, .img-polaroid {
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.img-polaroid {
    padding: 3px;
    background-color: #ffffff;
}

.img-circle {
    border-radius: 50%;
}

img.border {
    padding:.3em;
    border:.1em solid #d6d6d6;
}

.bordered img{
    display:block;
    padding:.4em;
    background:#ecf0f1;
    margin:2.4em auto;
    border:.1em solid #d6d6d6;
}

img.smooth {
    -webkit-border-radius: .25em;
       -moz-border-radius: .25em;
            border-radius: .25em;
}

img.rounded {
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
}

img.big {
    margin:auto 4%;
    width: 92%;
}

img.big + img.big {
    margin: 1em auto;
}

img.wide {
    margin:0 -1.2%;
    width:102.4%;
}

img.wide + img.wide {
    margin:1em -1.2%;
}

.img-cover {
    width:8em;
    height:auto;
    display:block;
    overflow:hidden;
    cursor:pointer;
    margin:auto;
}

.img-cover img {
    width:100%;
}

.img-cover .cover {
    display:block;
    margin:auto;
    width:8em;
    height:8em;
    background:rgba(0,0,0,.65);
    position:absolute;
    -webkit-transition:opacity .2s ease;
       -moz-transition:opacity .2s ease;
         -o-transition:opacity .2s ease;
            transition:opacity .2s ease;
}

.img-cover.blue .cover {
    background:rgba(52,152,219,.65);
}

.img-cover.red .cover {
    background:rgba(231,76,60,.65);
}

.img-cover.green .cover {
    background:rgba(46,204,113,.65);
}

.img-cover:hover .cover,
.img-cover:active .cover {
    opacity:0;
}

.img-cover.rounded {
    -webkit-border-radius:100%;
       -moz-border-radius:100%;
            border-radius:100%;
}

.img-cover.rounded .cover {
    -webkit-border-radius:100%;
       -moz-border-radius:100%;
            border-radius:100%;
}

.img-cover.rounded img {
    -webkit-border-radius:100%;
       -moz-border-radius:100%;
            border-radius:100%;
}

.img-cover.smooth {
    -webkit-border-radius:.25em;
       -moz-border-radius:.25em;
            border-radius:.25em;
}

.img-cover.smooth .cover {
    -webkit-border-radius:.25em;
       -moz-border-radius:.25em;
            border-radius:.25em;
}

.img-cover.smooth img {
    -webkit-border-radius:.25em;
       -moz-border-radius:.25em;
            border-radius:.25em;
}