.content {
  width: 100%;
  margin: 0 auto;
}

[class*='grid-'] {
  float: left;
  padding: 0 auto;
}

[class*='grid-']:last-of-type {
  float: right;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

.grid-1 {
  width: $w-grid-1;
}

.grid-2 {
  width: $w-grid-2;
}

.grid-3 {
  width: $w-grid-3;
}

.grid-4 {
  width: $w-grid-4;
}

.grid-5 {
  width: $w-grid-5;
}

.grid-6 {
  width: $w-grid-6;
}

.grid-7 {
  width: $w-grid-7;
}

.grid-8 {
  width: $w-grid-8;
}

.grid-9 {
  width: $w-grid-9;
}
.grid-10 {
  width: $w-grid-10;
}

.grid-11 {
  width: $w-grid-11;
}

.grid-12 {
  width: $w-grid-12;
}

.grid-5p {
  width: 5%;
}

.grid-10p {
  width: 10%;
}

.grip-15p {
  width: 15%;
}

.grid-20p {
  width: 20%;
}

.grid-25p {
  width: 25%;
}

.grid-30p {
  width: 30%;
}

.grid-35p {
  width: 35%;
}

.grid-40p {
  width: 40%;
}

.grid-45p {
  width: 45%;
}

.grid-50p {
  width: 50%;
}

.grid-55p {;
  width: 55%
}

.grid-60p {
  width: 60%;
}

.grid-65p {
  width: 65%;
}

.grid-70p {
  width: 70%;
}

.grid-75p {
  width: 75%;
}

.grid-80p {
  width: 80%;
}

.grid-85p {
  width: 85%;
}

.grid-90p {
  width: 90%;
}

.grid-95p {
  width: 95%;
}

  .grid-12.col1.row12 {
    width: $w-grid-1;
  }

  .grid-12.col2.row6 {
    width: 50%;
  }

  .grid-12.col3.row4 {
    width: 33.33%;
  }

  .grid-12.col4.row3 {
    width: 25%;
  }

  .grid-12.col6.row2 {
    width: 16.6666666667%;
  }

  .grid-12.col12.row1 {
    width: 8.33%;
  }

  .grid-10.col1.row10 {
    width: $w-grid-1;
  }

  .grid-10.col2.row5 {
    width: 50%;
  }

  .grid-10.col5.row2 {
    width: 20%;
  }

  .grid-10.col10.row1 {
    width: 10%;
  }

  .grid-8.col1.row8 {
    width: $w-grid-1;
  }

  .grid-8.col2.row4 {
    width: 50%;
  }

  .grid-8.col4.row2 {
    width: 25%;
  }

  .grid-8.col8.row1 {
    width: 12.5%;
  }

  .grid-6.col1.row6 {
    width: $w-grid-1;
  }

  .grid-6.col2.row3 {
    width: 50%;
  }

  .grid-6.col3.row2 {
    width: 33.33%;
  }

  .grid-6.col6.row1 {
    width: 16.6666666667%;
  }

  .grid-5.col1.row5 {
    width: $w-grid-1;
  }

  .grid-5.col2.row2-1 {
    width: 50%;
  }

  .grid-5.col2.row2-1:last-of-type {
    float: left;
  }

  .grid-5.col2.row2-1full {
    width: 50%;
  }

  .grid-5.col2.row2-1full:last-of-type {
    width: $w-grid-1;
  }

  .grid-5.col3.row1-1 {
    width: 33.33%;
  }

  .grid-5.col3.row1-1:nth-last-child(1) {
    width: 50%;
  }

  .grid-5.col3.row1-1:nth-last-child(2) {
    width: 50%;
  }

  .grid-5.col4.row1-1 {
    width: 25%;
  }

  .grid-5.col4.row1-1full {
    width: 25%;
  }

  .grid-5.col4.row1-1full:last-of-type {
    width: $w-grid-1;
  }

  .grid-5.col5.row1 {
    width: 20%;
  }

  .grid-4.col1.row4 {
    width: $w-grid-1;
  }

  .grid-4.col2.row2 {
    width: 50%;
  }

  .grid-4.col4.row1 {
    width: 25%;
  }

  .grid-3.col1.row3 {
    width: $w-grid-1;
  }

  .grid-3.col2.row1-1 {
    width: 50%;
  }

  .grid-3.col2.row1-1:last-of-type {
    float: left;
  }

  .grid-3.col2.row1-1full {
    width: 50%;
  }

  .grid-3.col2.row1-1full:last-of-type {
    width: $w-grid-1;
  }

  .grid-3.col3.row1 {
    width: 33.33%;
  }

  .grid-2.col1.row2 {
    width: $w-grid-1;
  }

  .grid-2.col2.row1 {
    width: 25%;
  }

  .grid-1.col1.row1 {
    width: $w-grid-1;
  }

@media (min-width: 320px) and (max-width: 980px) {
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12 {
    width: $w-grid-1;
  }

  .grid-12.col1.row12 {
    width: $w-grid-1;
  }

  .grid-12.col2.row6 {
    width: 50%;
  }

  .grid-12.col3.row4 {
    width: 33.33%;
  }

  .grid-12.col4.row3 {
    width: 25%;
  }

  .grid-12.col6.row2 {
    width: 16.6666666667%;
  }

  .grid-12.col12.row1 {
    width: 8.33%;
  }

  .grid-10.col1.row10 {
    width: $w-grid-1;
  }

  .grid-10.col2.row5 {
    width: 50%;
  }

  .grid-10.col5.row2 {
    width: 20%;
  }

  .grid-10.col10.row1 {
    width: 10%;
  }

  .grid-8.col1.row8 {
    width: $w-grid-1;
  }

  .grid-8.col2.row4 {
    width: 50%;
  }

  .grid-8.col4.row2 {
    width: 25%;
  }

  .grid-8.col8.row1 {
    width: 12.5%;
  }

  .grid-6.col1.row6 {
    width: $w-grid-1;
  }

  .grid-6.col2.row3 {
    width: 50%;
  }

  .grid-6.col3.row2 {
    width: 33.33%;
  }

  .grid-6.col6.row1 {
    width: 16.6666666667%;
  }

  .grid-5.col1.row5 {
    width: $w-grid-1;
  }

  .grid-5.col2.row2-1 {
    width: 50%;
  }

  .grid-5.col2.row2-1:last-of-type {
    float: left;
  }

  .grid-5.col2.row2-1full {
    width: 50%;
  }

  .grid-5.col2.row2-1full:last-of-type {
    width: $w-grid-1;
  }

  .grid-5.col3.row1-1 {
    width: 33.33%;
  }

  .grid-5.col3.row1-1:nth-last-child(1) {
    width: 50%;
  }

  .grid-5.col3.row1-1:nth-last-child(2) {
    width: 50%;
  }

  .grid-5.col4.row1-1 {
    width: 25%;
  }

  .grid-5.col4.row1-1full {
    width: 25%;
  }

  .grid-5.col4.row1-1full:last-of-type {
    width: $w-grid-1;
  }

  .grid-5.col5.row1 {
    width: 20%;
  }

  .grid-4.col1.row4 {
    width: $w-grid-1;
  }

  .grid-4.col2.row2 {
    width: 50%;
  }

  .grid-4.col4.row1 {
    width: 25%;
  }

  .grid-3.col1.row3 {
    width: $w-grid-1;
  }

  .grid-3.col2.row1-1 {
    width: 50%;
  }

  .grid-3.col2.row1-1:last-of-type {
    float: left;
  }

  .grid-3.col2.row1-1full {
    width: 50%;
  }

  .grid-3.col2.row1-1full:last-of-type {
    width: $w-grid-1;
  }

  .grid-3.col3.row1 {
    width: 33.33%;
  }

  .grid-2.col1.row2 {
    width: $w-grid-1;
  }

  .grid-2.col2.row1 {
    width: 25%;
  }

  .grid-1.col1.row1 {
    width: $w-grid-1;
  }
}